.app {
  height: 100%;
  width: 100%;
}

.app .row {
  height: inherit;
}

canvas {
  height: 100%;
  width: 100%;
}

.menu {
  padding: 8px;
}

@media (min-width: 768px) {
  .menu {
    border-right: 1px solid rgba(0,0,0,0.1);
    height: 100%;
  }
}

@media (max-width: 768px) {
  .menu {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

.submenu {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 8px
}

.submenu-title {
}

.submenu-content {
  padding-top: 16px;
}
